body{
  font-family: 'Open Sans', sans-serif;
}
.rr
{
  font-family: 'Oswald', sans-serif;

}
.violeta
{
  background-color: #660066;
}
.violetat{
  color:#660066;
}

.ff {

    width: fit-content;
    padding-top: 29rem;
}

.header
{
  background-image: url(" ../img/bg_hero.png");
background-size: cover;
background-position: center;
height: 38rem;
background-repeat: no-repeat;

}


@media (max-width:750px)
{
  .lgg  {
    display: none;
  }
}

@media (max-width:750px)
{
  .pp  {
    display: none;
  }
}
